<ul>
<h1><%=@meal.name.capitalize%></h1>
<br>
<h2>Safe for:</h2>
  <%MealRestriction.all.each do |mr|%>
  <% if mr.meal_id == @meal.id %>
  <%Restriction.all.each do |rest|%>
  <% if rest.id == mr.restriction_id%>
  <li><%=link_to "#{rest.name.capitalize}", restriction_path(rest) %></li>
  <%end %>
  <%end %>
<%end %>
<%end %>
</ul>
